# Dependencies
node_modules/

# Build outputs
dist/
coverage/
storybook-static/
*.tgz

# Logs & env
*.log
npm-debug.log*
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp
*.swo
*~
